:local(.welcome-container) {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

:local(.mouse-icon-container) {
  transform: rotate(-20deg);
  margin-right: 8px;
}

:local(.welcome-message-container) {
  text-align: left;
}

:local(.skip-button) {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  border-radius: 12px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
