:local(.button) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  min-height: 48px;
  width: min-content;
  min-width: 156px;
  font-weight: bold;
  font-size: var(--font-x-small);
  border-radius: var(--space-8);
  transition: background-color 0.1s ease-in-out;
  padding: 0 var(--space-24);
}

:local(.closeButton) {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;

  &:local(.primary) {
    border-radius: var(--space-8);
    background: var(--secondary-color);
    color: var(--text1-color);

    &:hover {
      background: var(--secondary-color-hover);
    }
  }

  &:local(.secondary) {
    color: var(--text-inverted-color);

    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

:local(.submitButton) {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;

  &:local(.primary) {
    min-height: 3rem;
    width: min-content;
    padding: 0 var(--space-8);
    border-radius: var(--space-8);
    background-color: var(--accept-color);
    color: var(--text5-color);
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      background: var(--accept-color-hover);
    }
  }

  &:local(.secondary) {
    color: var(--text-inverted-color);

    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

:local(.md) {
  width: 2rem;
  height: 2rem;
}

:local(.lg) {
  width: 2.5rem;
  height: 2.5rem;
}

:local(.2x) {
  width: 3rem;
  height: 3rem;
}
