@use "./theme.scss";

// TODO 下記スタイル要改修
:local(.modal) {
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  border: none;
  //border-radius: theme.$border-radius-regular;
  margin: 24px;
  z-index: 1;
  width: 100%;
  // max-width: 360px;
  //半透明のブラックを中央のポップオーバーの背景色に
  background-color: rgba($color: #303030, $alpha: 0.5);
  max-width: 460px;
}

:local(.header) {
  display: flex;
  height: 48px;
  border-bottom: 1px solid theme.$border1-color;
  align-items: center;
  justify-content: center;
  color: white;
}

:local(.before-title) {
  position: absolute;
  left: 0;
  margin-left: 16px;
}

:local(.after-title) {
  position: absolute;
  right: 0;
  margin-right: 16px;
}

:local(.content) {
  min-height: 200px;
  display: flex;
  flex: 1;
  flex-direction: column;
  color: white;
}

:local(.sm-fullscreen) {
  @media (max-width: theme.$breakpoint-lg - 1),
    (max-height: theme.$breakpoint-vr - 1) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: none;

    &::before {
      content: "";
      background-color: rgba($color: #303030, $alpha: 1);
      position: fixed;
      top: 0;
      height: 100vh;
      width: 150vw;
      overflow: visible;
      z-index: -1;
    }
    :local(.content) {
      overflow-y: auto;
    }
  }
}

// NOTE 以下推奨
// TODO 下記クラス名の頭文字を小文字にする
:local(.modalWrap) {
  display: none;

  &:local(.open) {
    display: block;
  }

  &:local(.hidden) {
    @media (min-width: theme.$breakpoint-sm) {
      cursor: none;
    }
  }
}

:local(.modalContents) {
  position: fixed;
  z-index: theme.$z-index-mostmodal;

  &:local(.both) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:local(.modalCloseButton) {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: calc(theme.$z-index-mostmodal + 1);
  transition: 0.2s;

  &:local(.inside) {
    top: 0.5rem;
    right: 0.5em;
  }

  &:local(.outside) {
    top: 1rem;
    right: 1em;

    @media (max-width: theme.$breakpoint-sm) {
      top: 0.5rem;
      right: 0.5em;
    }
  }

  &:local(.hidden) {
    @media (min-width: theme.$breakpoint-sm) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

:local(.overlay) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(theme.$z-index-mostmodal - 1);
  transition: 0.2s;

  &:local(.open) {
    display: block;
  }

  &:local(.black) {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &:local(.white) {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &:local(.transparent) {
    background: transparent;
  }
}

:local(.fullscreen) {
  width: 100svw;
  height: 100svh;
}

:local(.modalFullScreenButton) {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: calc(theme.$z-index-mostmodal + 1);
  transition: 0.2s;

  &:local(.inside) {
    bottom: 0.5rem;
    right: 0.5em;
  }

  &:local(.outside) {
    bottom: 1rem;
    right: 1em;

    @media (max-width: theme.$breakpoint-sm) {
      bottom: 0.5rem;
      right: 0.5em;
    }
  }
}
