.menu-button-container {
  position: absolute;
  top: 172px;
  left: 8px;
  border-radius: 50%;
  background-color: gold;
  height: 48px;
  width: 48px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: white;
  }
}

.hidden {
  display: none;
}
