.custom-leave-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  height: 100%;
  max-width: 48px;
  cursor: pointer;
  color: gold;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.custom-leave-button-label {
  font-size: 10px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 3px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  line-height: normal;
}

.sample-icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
