@use "./styles/theme";

:local(.toolbar-button) {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;

  label {
    cursor: pointer;
    color: theme.$text7-color;
    margin-top: 8px;
    margin-bottom: 3px;
    white-space: nowrap;
  }
}

:local(.icon-container) {
  position: relative;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid theme.$transparent;
  background-color: theme.$transparent;

  transition:
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;

  svg {
    color: theme.$toolbar-icon-color;

    *[stroke="\#000"] {
      transition: stroke 0.1s ease-in-out;
    }

    *[fill="\#000"] {
      transition: fill 0.1s ease-in-out;
    }
  }
}

:local(.large) :local(.icon-container) {
  width: 96px;
  height: 96px;
}

:local(.basic),
:local(.transparent) {
  :local(.icon-container) {
    border-color: theme.$toolbar-basic-border-color;
    background-color: transparent;
    svg {
      color: theme.$toolbar-basic-icon-color;
    }
  }

  &:hover :local(.icon-container) {
    border: 1px solid theme.$toolbar-basic-border-color;
    background-color: theme.$basic-color-hover;
  }

  &:active :local(.icon-container) {
    border-color: theme.$basic-color-pressed;
    background-color: theme.$basic-color-pressed;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: transparent;
      background-color: theme.$toolbar-icon-selected-bg;
    }
    svg {
      color: theme.$toolbar-basic-selected-icon-color;
    }

    label {
      color: theme.$text4-color;
    }

    &:hover {
      :local(.icon-container) {
        background-color: theme.$toolbar-basic-color-hover;
      }
    }

    &:active {
      :local(.icon-container) {
        background-color: theme.$toolbar-basic-color-pressed;
      }
    }
  }
}

:local(.transparent) :local(.icon-container) {
  border-color: theme.$transparent;
}

:local(.basic),
:local(.urth-staff-red) {
  :local(.icon-container) {
    border-color: theme.$transparent;

    svg {
      *[stroke="\#000"] {
        stroke: theme.$toolbar-basic-selected-icon-color;
      }

      *[fill="\#000"] {
        fill: theme.$toolbar-basic-selected-icon-color;
      }
    }
  }

  &:hover :local(.icon-container) {
    border-color: transparent;
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    border-color: transparent;
    background-color: transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: transparent;
      background-color: theme.$transparent;
    }

    label {
      color: theme.$red;
    }

    svg {
      *[stroke="\#000"] {
        stroke: theme.$red;
      }

      path: {
        fill: theme.$red;
      }
    }

    &:hover {
      :local(.icon-container) {
        background-color: transparent;
      }
    }

    &:active {
      :local(.icon-container) {
        background-color: transparent;
      }
    }
  }
}

:local(.urth-staff-red),
:local(.icon-container) {
  border-color: theme.$transparent;
}

:local(.basic),
:local(.urth-staff-red) {
  :local(.icon-container) {
    border-color: theme.$transparent;

    svg {
      *[stroke="\#000"] {
        stroke: theme.$red;
      }

      *[fill="\#000"] {
        fill: theme.$red;
      }
    }
  }

  &:hover :local(.icon-container) {
    border-color: transparent;
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    border-color: transparent;
    background-color: transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: transparent;
      background-color: theme.$transparent;
    }

    label {
      color: theme.$red;
    }

    svg {
      *[stroke="\#000"] {
        stroke: theme.$red;
      }

      path: {
        fill: theme.$red;
      }
    }

    &:hover {
      :local(.icon-container) {
        background-color: transparent;
      }
    }

    &:active {
      :local(.icon-container) {
        background-color: transparent;
      }
    }
  }
}

:local(.urth-staff-red),
:local(.icon-container) {
  border-color: theme.$transparent;
}

:local(.urth-staff-red) {
  border-color: theme.$transparent;
  background-color: theme.$transparent;
  & > label {
    color: theme.$red;
  }
}

:local(.audio-button) {
  border-color: theme.$transparent;
  background-color: theme.$transparent;

  :local(.icon-container) {
    border-color: theme.$darkgrey;
  }
}

:local(.primary) {
  :local(.icon-container) {
    background-color: theme.$primary-color;
  }

  &:hover :local(.icon-container) {
    background-color: theme.$primary-color-hover;
  }

  &:active :local(.icon-container) {
    background-color: theme.$primary-color-pressed;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$primary-color;
      background-color: theme.$toolbar-icon-selected-bg;

      svg {
        color: theme.$toolbar-basic-icon-color;
      }
    }

    label {
      color: theme.$primary-color;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$primary-color-hover;
        background-color: theme.$toolbar-basic-color-hover;

        svg {
          color: theme.$primary-color-hover;
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$primary-color-pressed;

        svg {
          color: theme.$primary-color-pressed;
        }
      }
    }
  }
}

:local(.accept) {
  :local(.icon-container) {
    background-color: theme.$accept-color;
    border-color: theme.$accept-border-color;
  }

  &:hover :local(.icon-container) {
    background-color: theme.$accept-color-hover;
  }

  &:active :local(.icon-container) {
    background-color: theme.$accept-color-pressed;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$accept-color;
      background-color: theme.$toolbar-icon-selected-bg;

      svg {
        color: theme.$accept-color;
      }
    }

    label {
      color: theme.$accept-color;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$accept-color-hover;

        svg {
          color: theme.$accept-color-hover;
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$accept-color-pressed;

        svg {
          color: theme.$accept-color-pressed;
        }
      }
    }
  }
}

:local(.cancel) {
  :local(.icon-container) {
    background-color: theme.$cancel-color;
  }

  &:hover :local(.icon-container) {
    background-color: theme.$cancel-color-hover;
  }

  &:active :local(.icon-container) {
    background-color: theme.$cancel-color-pressed;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$cancel-color;
      background-color: theme.$toolbar-icon-selected-bg;

      svg {
        color: theme.$cancel-color;
      }
    }

    label {
      color: theme.$cancel-color;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$cancel-color-hover;

        svg {
          color: theme.$cancel-color-hover;
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$cancel-color-pressed;

        svg {
          color: theme.$cancel-color-pressed;
        }
      }
    }
  }
}

:local(.accent1) {
  :local(.icon-container) {
    border-color: transparent;
    background-color: transparent;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$accent1-color;
      background-color: theme.$toolbar-icon-selected-bg;

      svg {
        color: theme.$accent1-color;
      }
    }

    label {
      color: theme.$toolbar-label-accent1;
    }
  }
}

:local(.accent2) {
  :local(.icon-container) {
    background-color: theme.$black;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$black;
      background-color: theme.$black;

      svg {
        *[stroke="\#000"] {
          stroke: theme.$urth-yellow;
        }

        path {
          fill: theme.$urth-yellow;
        }
      }
    }

    label {
      color: theme.$urth-yellow;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$urth-yellow;
          }

          *[fill="\#000"] {
            fill: theme.$urth-yellow;
          }
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$black;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$urth-yellow;
          }

          *[fill="\#000"] {
            fill: theme.$urth-yellow;
          }
        }
      }
    }
  }
}

:local(.accent3) {
  :local(.icon-container) {
    background-color: theme.$black;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$black;
      background-color: transparent;

      svg {
        *[stroke="\#000"] {
          stroke: theme.$orange;
        }

        path {
          fill: theme.$orange;
        }
      }
    }

    label {
      color: theme.$orange;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$black;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$orange;
          }

          *[fill="\#000"] {
            fill: theme.$orange;
          }
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$black;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$orange;
          }

          *[fill="\#000"] {
            fill: theme.$orange;
          }
        }
      }
    }
  }
}

:local(.accent4) {
  :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$transparent;
      background-color: transparent;

      svg {
        *[stroke="\#000"] {
          stroke: theme.$urth-purple;
        }

        path {
          fill: theme.$urth-purple;
        }
      }
    }

    label {
      color: theme.$urth-purple;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$urth-purple;
          }

          *[fill="\#000"] {
            fill: theme.$urth-purple;
          }
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$urth-purple;
          }

          *[fill="\#000"] {
            fill: theme.$urth-purple;
          }
        }
      }
    }
  }
}

:local(.accent5) {
  :local(.icon-container) {
    background-color: theme.$black;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$transparent;
      background-color: transparent;

      svg {
        *[stroke="\#000"] {
          stroke: theme.$urth-blue;
        }

        path {
          fill: theme.$urth-blue;
        }
      }
    }

    label {
      color: theme.$urth-blue;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          //うまくいかないurth-blue
          *[stroke="\#000"] {
            stroke: theme.$urth-blue;
          }

          *[fill="\#000"] {
            fill: theme.$urth-blue;
          }
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$urth-blue;
          }

          *[fill="\#000"] {
            fill: theme.$urth-blue;
          }
        }
      }
    }
  }
}

:local(.invite-color) {
  :local(.icon-container) {
    background-color: theme.$black;
  }

  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: theme.$transparent;
  }

  &:local(.selected) {
    :local(.icon-container) {
      border-color: theme.$transparent;
      background-color: transparent;

      svg {
        *[stroke="\#000"] {
          stroke: theme.$red;
        }

        path {
          fill: theme.$red;
        }
      }
    }

    label {
      color: theme.$red;
    }

    &:hover {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          //うまくいかないurth-blue
          *[stroke="\#000"] {
            stroke: theme.$red;
          }

          *[fill="\#000"] {
            fill: theme.$red;
          }
        }
      }
    }

    &:active {
      :local(.icon-container) {
        border-color: theme.$transparent;

        svg {
          *[stroke="\#000"] {
            stroke: theme.$red;
          }

          *[fill="\#000"] {
            fill: theme.$red;
          }
        }
      }
    }
  }
}

:local(.status-indicator) {
  position: absolute;
  top: 5px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

:local(.status-enabled) {
  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: transparent;
  }
  &:local(.status-indicator) {
    background-color: theme.$transparent;
  }
  &:local(.icon-container) {
    svg {
      *[stroke="\#000"] {
        stroke: theme.$status-enabled-color;
      }

      *[fill="\#000"] {
        fill: theme.$status-enabled-color;
      }
    }
  }
  & + label {
    color: theme.$status-enabled-color;
  }
}

:local(.status-disabled) {
  &:hover :local(.icon-container) {
    background-color: transparent;
  }

  &:active :local(.icon-container) {
    background-color: transparent;
    &:local(.status-indicator) {
      background-color: transparent;
    }
    &:local(.icon-container) {
      svg {
        *[stroke="\#000"] {
          stroke: theme.$status-disabled-color;
        }

        *[fill="\#000"] {
          fill: theme.$status-disabled-color;
        }
      }
    }
    & + label {
      color: theme.$status-disabled-color;
    }
  }
}

:local(.status-unread) {
  background-color: theme.$status-unread-color;
}

:local(.status-recording),
:local(.status-enabled) {
  background-color: theme.$transparent;
  & + label {
    color: theme.$urth-green;
  }
  svg {
    *[stroke="\#000"] {
      stroke: theme.$urth-green;
    }
    path {
      fill: theme.$urth-green;
    }
  }
}

:local(.status-disabled) {
  background-color: theme.$transparent;
  & + label {
    color: theme.$red;
  }
  svg {
    *[stroke="\#000"] {
      stroke: theme.$red;
    }
    path {
      fill: theme.$red;
    }
  }
}

:local(.left) {
  :local(.icon-container) {
    width: 48px;
    border-radius: 0px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
}

:local(.middle) {
  :local(.icon-container) {
    border-radius: 0px;
  }
}

:local(.right) {
  :local(.icon-container) {
    width: 48px;
    border-radius: 0px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}

:local(.screenSelected) {
  :local(.icon-container) {
    border-color: theme.$transparent;
    background-color: transparent;

    svg {
      *[stroke="\#000"] {
        stroke: theme.$urth-blue;
      }

      path {
        fill: theme.$urth-blue;
      }
    }
  }

  label {
    color: theme.$urth-blue;
  }
}
