.app-container {
  margin: 32px;
}

.app-heading-container {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.dummy-icon-container {
  background: #f0f0f0;
  margin-bottom: 48px;
  cursor: pointer;
}

.dummy-toolbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  background: #f0f0f0;

  .dummy-toolbar-item {
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c0c0c0;

    &:hover {
      background: #e0e0e0;
    }
  }
}
